
@media only screen and (max-height: 438px) {
    .pk_zoombtn .pk_zoom_out_v,
    .pk_zoombtn .pk_zoom_in_v{
        display:none !important;
    }
}

@media only screen and (max-width: 1250px) {
    .pk_ctns,
    .pk_transport{
        float: none;
        display: block;
        border: 0;
        min-width:auto;
        margin-right: 14px;
        margin-top: 0;
        height: 28px;
    }
    .pk_selection{
        min-width:auto;
    }
    .pk_tb .pk_btn {
        font-size: 12px;
        width: 24px;
        height: 23px;
        margin: 0px 3px;
        line-height: 24px;
    }
    .pk_sellist .pk_title{
        font-size:10px;
    }
    .pk_selection .pk_sellist {
        width: 296px;
    }

    .pk_tb .pk_selection .pk_btn{
        width: 60px;
        line-height: 10px;
        font-size: 11px;
        height: 32px;
        margin-top: 3px;
        margin-left: 10px;
    }

    .pk_mark1{
        width:5.554%;
    }
    .pk_mark1.pk_odd{
        display:none;
    }
}

@media only screen and (max-width: 864px) {
    .pk_selection .pk_sellist div{
        margin:0 16px 0 0;
    }
    .pk_sellist .pk_title{
        display:none;
    }
    .pk_tb .pk_selection .pk_btn{
        width:34px;
    }
    .pk_selection .pk_sellist {
        width: 212px;
    }
    .icon-clearsel:before {
        content: "clear";
    }
    .pk_mark1{
        font-size:9px;
        letter-spacing:0;
    }
}

/*@media only screen and (max-width: 779px) {*/
/*    .pk_selection {*/
/*        display:none !important;*/
/*    }*/

/*    .pk_btn button{*/
/*        padding: 2px 12px;*/
/*    }*/

/*    .pk_timecontainer{*/
/*        margin-right:10px;*/
/*        width:200px*/
/*    }*/
/*    .pk_timing{*/
/*        font-size:24px;*/
/*        padding:10px 0 0 8px*/
/*    }*/
/*    .pk_total_dur, .pk_hover_dur{*/
/*        font-size:13px*/
/*    }*/
/*    .pk_hdr .pk_btn{*/
/*        margin:2px 10px 0 10px*/
/*    }*/
/*    .pk_tbc{*/
/*        overflow-x:scroll;*/
/*        background:#363636;*/
/*        border-bottom: 1px solid #000;*/
/*        -webkit-overflow-scrolling:touch;*/
/*        scrollbar-width: none; !* Firefox *!*/
/*        -ms-overflow-style: none;  !* IE 10+ *!*/
/*    }*/
/*    .pk_tbc::-webkit-scrollbar { !* WebKit *!*/
/*        width: 0;*/
/*        height: 0;*/
/*    }*/

/*    .pk_tb{*/
/*        padding:6px 0px 6px 14px;*/
/*        white-space:nowrap;*/
/*        border-bottom:none;*/
/*    }*/
/*    .pk_mob .pk_ctns, .pk_mob .pk_transport {*/
/*        height:36px;*/
/*    }*/
/*    .pk_mark1{font-size:8px}*/

/*    .pk_tmpMsg{*/
/*        font-size:14px;*/
/*        line-height:28px;*/
/*        margin-left:-120px;*/
/*        width:240px*/
/*    }*/

/*    .pk_mob .pk_hdr{*/
/*        padding: 20px 5px 0 5px;*/
/*    }*/

/*    .pk_mob .pk_transport,*/
/*    .pk_mob .pk_ctns,*/
/*    .pk_mob .pk_btngroup {*/
/*        float:none;*/
/*        display:inline-block;*/
/*    }*/
/*    .pk_mob .pk_btngroup{*/
/*        padding-top:8px;*/
/*    }*/
/*    .pk_mob .pk_tb .pk_btn {*/
/*        font-size: 16px;*/
/*        width: 32px;*/
/*        height: 32px;*/
/*        margin: 0px 4px;*/
/*        line-height: 24px;*/
/*    }*/

/*    .pk_h200 .pk_col {*/
/*        width: 20%;*/
/*        overflow: hidden;*/
/*    }*/

/*    .pk_zoombtn button{*/
/*        height:19px;*/
/*    }*/

/*    .pk_wavescroll{*/
/*        margin-bottom:8px;*/
/*        height:16px;*/
/*    }*/

/*    .pk_markers{*/
/*        margin-top:3px;*/
/*    }*/

/*    .pk_lcldrf .pk_lcla{*/
/*        margin-left:14px;*/
/*        font-size:12px;*/
/*    }*/
/*}*/

@media only screen and (max-width: 400px) {
    .pk_hdr .pk_btn{
        margin:2px 4px 0 4px
    }
}

