wave {
    cursor: text;
}

.wavesurfer-region {
    /*opacity: 0.33;*/
    /*background-color: rgba(30, 30, 162, 1.0);*/
    /*background: linear-gradient(-65deg, #43b7c6, #d186d2);*/
    background-color: rgba(18, 98, 160, 0.25);
}

.pk_wave_cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    margin-left: -2px;
    bottom: 0;
    width: 1px;
    pointer-events: none;
    border-right: 1px solid #ffab70;
    transform: translate3d(0, 0, 0);
}


#pk_prgwv {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    background: #7ad391;
    width: 1px;
    display: none;
    /*box-sizing: 'border-box'*/
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

/*
#pk_prgwv:after{
	content: '';
	display:block;
	background:#ff8c35;
	width:1px;
	height:100%;
}*/
